body
{
	
	font-family: 'Roboto', sans-serif;
	background:#f7f4e6;
}

.container
{
  padding: 0px;
}


nav
{
	border: 5px solid #a80a14;
	height: 70px;
	margin-bottom: 2px;
	background: #fceb83;
  min-width: 1224px;
  max-width: 100%;

}

ul
{
	float: right;
	margin-right: 10px;
}

li
{
	display: inline-block;
	border: 2px solid #B11F29;
	padding: 10px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

a
{
  text-decoration: none;
}

li a {
  color: black;
}

li:hover,
li:focus-within {
	background: red;
	cursor: pointer;
}




.navname
{
	margin-left: 415px;
	margin-top: -25px;
	display: inline-block;
	font-size: 25px;
}

.navlinks a
{
	float: right;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

.burgermenu
{
	display: inline-block;
	margin-left: 10px;
}





header
{
	border: 5px solid  #B11F29;
	height: 600px;
	width: 100%;
	background: #F7DD3B;
	

}


.bgimage {
  width:100%;
  height:600px;
  background: url("https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/fox-BOBSBURGERS_6-Full-Image_GalleryBackground-en-US-1484348616846._RI_SX940_.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  overflow: hidden;
  opacity: .5;
}
.header_text{
  color:white;
  text-shadow:2px 2px black;
  font-size: 45px;
}




.logname
{
  border: 5px solid #a80a14;
	height: 70px;
	margin-bottom: 35px;
	background: #fceb83;
}




.menu
{

	font-size: 35px;
	text-align: center;
	margin-top: 25px;
}





#burgers
{
	border: 2px solid #B11F29;
	background: #F7DD3B;
	margin-bottom: 25px;
	margin-top: 10px;
	height: 100px;
  padding:0px;
   min-width: 1224px;
  max-width: 100%;
  
}

#sides
{
	border: 2px solid #B11F29;
	background: #F7DD3B;
	margin-bottom: 25px;
	height: 100px;
	 min-width: 1224px;
  max-width: 100%;
}

#drinks
{
	border: 2px solid #B11F29;
	background: #F7DD3B;
	
	margin-bottom: 25px;
	height: 100px;
	 min-width: 1224px;
  max-width: 100%;
}

#disclaimer
{
	background: black;
	color: white;
	font-size: 25px;
	position: sticky;
	height: 100px;
	width: 100px;
}





footer
{
	border: 5px solid #2d2c2c;
	background: #2d2c2c;
	color: white;
	height: 70px;
	
}